1. I'm using Nextron.js which is Electron with Next.js
2. I'm using Chakra UI for the UI framework
3. I'm using IndexedDB for local storage
4. I'm using Excel.js for Excel file generation
5. I'm using mssql lib to connect to SQL Databases
6. The package manage I use is Yarn.
7. When calling Yarn package calls always call `nvm use node` first.